body {
  background-color: #f0fff0;
}

progress {
  width: 100%;
  height: 1.5rem;
  -webkit-appearance: none; /* For WebKit browsers */
  appearance: none; /* For other browsers */
  border-radius: 10px; /* Adjust the value as needed */
  overflow: hidden; /* Ensures the rounded corners are visible */
  border: 1px solid #d3d3d3; /* 1px grayish border */
}

/* For WebKit browsers */
progress::-webkit-progress-bar {
  background-color: #ffffff; /* Change the empty part to white */
  border-radius: 10px; /* Adjust the value as needed */
}

progress::-webkit-progress-value {
  background-color: #266df8;
  border-radius: 10px; /* Adjust the value as needed */
}

/* For Firefox */
progress::-moz-progress-bar {
  background-color: #266df8;
  border-radius: 10px; /* Adjust the value as needed */
}

/* For Edge and other modern browsers */
progress {
  accent-color: #266df8;
  background-color: #ffffff; /* Change the empty part to white */
}
